<%- include("partials/header.ejs")  %>

<div class="index-container">
<!-- ------------------------ title and subtitle ----------------------->
    <div class="index-title">
        <h1 class="index-title-text">Freelance Portal</h1>
        <p class="index-subtitle-text">"Connecting clients & freelancers"</p>
    </div>

<!-- ------------------------ client side ----------------------->
    <div class="index-client">
        <h2 class="index-user-title">Clients</h2>
        <p class="index-user-subtitle">Hire the best talent for your projects</p>
        <a class="index-client-authbtn authbtn" href="/client_auth">Signup/Login</a>

    </div>

<!-- ------------------------ freelancer side -----------------------> 
    <div class="index-freelance">
        <h2 class="index-user-title">Freelancers</h2>
        <p class="index-user-subtitle">Find jobs and grow your career</p>
        <a class="index-freelancer-authbtn authbtn" href="/freelancer_auth">Signup/Login</a>
    </div>
</div>

<%- include("partials/footer.ejs")  %>