<%- include("../partials/header.ejs")  %>

<div class="user-index-auth">
    <div class="user-index-title">
        <h1>get hired by best </h1>
        <p>psssssssssssssssssssss shhhhhhhshshshs sshhs</p>
    </div>
    <div class="user-index-auth-btns">
        <div class="users-loginsignup-btns">
            <a class="index-authbtn" href="/freelancer_signup">Signup</a>
            <a class="index-authbtn" href="/freelancer_login">Login</a>
        </div>
        <a class="index-authbtn" href="/auth/google/freelancer">google</a>
    </div>
</div>

<%- include("../partials/footer.ejs")  %>