<%- include("../partials/header.ejs")  %>


<div class="user-form-details">
    <div class="user-form-title">
        <h1> client login</h1>
    </div>
    <div class="user-form-info">
        <form action="/client_login" method="post">
        <input type="hidden" name="role" value="client">
        <div class="user-form-emailpass">
        <label for="email">email</label>
        <input type="email" name="email" id="" placeholder="enter your email" required>
        <label for="password">password</label>
        <input type="password" name="password" id="" placeholder="enter your password" required>
        <button type="submit">login</button>
        </form>
        </div>
    </div>
    <div class="user-form-redirect">
        <a href="/auth/google/client" target="">google</a>
        <p> dont have account ? <a href="/client_signup" target="">signup</a></p>
    </div>
</div>
    



<%- include("../partials/footer.ejs")  %>