<%- include("../partials/header.ejs")  %>

<div class="user-index-auth">
    <div class="user-index-title">
        <h1>be the one to hire</h1>
        <p>psssssssssssssssssssss shhhhhhhshshshs sshhs</p>
    </div>
    <div class="user-index-auth-btns">
        <div class="users-loginsignup-btns">
            <a class="index-authbtn" href="/client_signup">Signup</a>
            <a class="index-authbtn" href="/client_login">Login</a>
        </div>
        <a class="index-authbtn" href="/auth/google/client">google</a>
    </div>
    </div>
</div>

<%- include("../partials/footer.ejs")  %>
    